body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-black {
    background-color: #7D8289 !important;
}

.sidebar h1 {
    font-size: 1.5rem;
}

.sidebar strong {
    font-size: 1.5rem;
}


.sidebar {
    background-color: #2E3440 !important;
}

@media (min-width: 768px) {
    .sidebar {
        height: 100vh;
        width: 250px;
        min-height: 400px;
        overflow: auto;
        padding: 30px;
        position: fixed;
    }
}

.active>.nav-link {
    color: #7D8289!important;
    font-weight: bold;
}

@media (min-width: 768px) {
    .main-content {
        float: right;
        width: calc(100% - 250px);
    }
    footer {
        float: right;
        width: calc(100% - 250px);
    }
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section-100 {
    min-height: 100vh;
    z-index: 20;
    position: relative;
}

#home {
    background-image: url('img/Távoli_nyilzápor.jpg');
    color: #343A3F;
}

#home h1 {
    padding-top: 10vh;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

h2 {
    font-weight: bold;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #D8DEE9;
}

h5 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #D8DEE9;
}

h6 {
    font-size: 1.4rem;
    color: #D8DEE9;
}


.row > img{
    height: 100%;
}

#fight {
    color: #D8DEE9;
    background-color: #2E3440;
}

#language {

    color: #D8DEE9;
    background-color: #2E3440;
}  

#facts {
    
    background-color: #2E3440;
    font-size: 1.4rem;
    color: #D8DEE9;
}

#credits {
    background-color: #2E3440;

}

#history {
    color: #D8DEE9;
    background-color: #2E3440;
}

#legends {
    color: #D8DEE9;
    background-color: #2E3440;
}


footer{
 background-color: #343A3F;
 color:#D8DEE9;
 text-align: end;
}
